SECRET_KEY=

DEBUG=

DATABASE_NAME=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_HOST=            # например: "localhost" или "db" для docker-compose
DATABASE_PORT=5432

# Задайте имя и пароль суперпользователя для установки через кастомную команду
SUPER_USER_LOGIN_NAME=
SUPER_USER_PASSWORD=

# Настройки для почтовой подсистемы
EMAIL_HOST =              # например: 'smtp.yandex.ru'
EMAIL_PORT =              # например: 465
EMAIL_HOST_USER =         # например: "your@yandex.ru"
EMAIL_HOST_PASSWORD =     # например: "password"
EMAIL_USE_TLS =           # например: False
EMAIL_USE_SSL =           # например: True

SERVER_EMAIL = EMAIL_HOST_USER
DEFAULT_FROM_EMAIL = EMAIL_HOST_USER

# Настройки кеширования (Redis)
REDIS_LOCATION =          # например: "redis://localhost:6379/1" или "redis://redis:6379/1" для docker-compose

# Настройки брокера для CELERY
CELERY_BROKER_URL =       # например: "redis://localhost:6379/5" или "redis://redis:6379/5" для docker-compose
CELERY_RESULT_BACKEND =   # например: "redis://localhost:6379/5" или "redis://redis:6379/5" для docker-compose

# Для генерации ссылки подтверждения регистрации и восстановления пароля, и других нотификаций по email
FRONTEND_SITE_URL = "https://myhost.mydomain:8000"

BACKEND_DOCKER_IMAGE = "backend"
